<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/main_styles.css" />
</head>
<body>
    <div class="form_holder">
        <div class="center">
            <h1>Введите имя пользователя</h1><br><br>
            <form action="/" method="post">
                <input class="input_for_name" type="text" name="userName" required /><br><br>
                <button class="button">Проверить</button>
            </form>
        </div>
    </div>
    </body>
</html>