<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>success</title>
    <link rel="stylesheet" type="text/css" href="css/main_styles.css" />
    <link rel="stylesheet" type="text/css" href="css/arrow_button_styles.css" />
</head>
<body>
    <div class="back_button_holder">
        <a href="/" class="previous round">&#8249;</a>
    </div>
    <div class="center">
        <h1>Account for name "{{userName}}" found!</h1>
        <p style="font-size:100px">&#128512;</p>
    </div>
</body>
</html>