a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    font-size: 25px;
}
 a:hover {
        background-color: #e6e6e6;
        color: black;
    }

.previous {
    background-color: #f1f1f1;
    color: black;
}
.round {
    border-radius: 50%;
}
